*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.imagen{
    margin-left: 30%;
    width: 200%;
}
.titulo{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
    text-align: center;
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    margin-left: auto;
}
.introduccion{
    margin-left: 15%;
    height: 600px;
    background-image: url("../Assets/Images/meso2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
}
.btn-success{
    margin-left: 20%;
}
.Formulario{
    border-radius: 6x;
}
.informacion{
    font-weight: normal;
    font-size: 150%;
}
.parallax {
    background-image: url(../Assets/Images/meso3.png);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sombra{
    box-shadow: 10px 10px 5px #bcbcbc;
    margin-bottom: 30px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container-fluid-footer{
    margin-left: 15%;
    height: 300px;
    background-image: url("../Assets/Images/footer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}