*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.imagen{
    margin-left: 30%;
    width: 200%;
}
.titulo{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
    text-align: center;
    color: #333333;
    font-size: x-large;
    font-weight: bold;
    margin-left: auto;
}
.introduccion{
    margin-left: 15%;
}
.btn{
    margin-left: 20%;
}
